#container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.icon-container {
    display: inline;
}

.card {
    position: relative;
    font-family: 'GeosansLight';
    background-color: #222222;
    color: white;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
}

.title {
    color: white;
    font-size: 14px;
    font-family: 'GeosansLight';
    font-weight: bold;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    font-size: 12px;
}

.timeout-bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.timeout-bar-inner {
    height: 4px;
    width: 100%;
}

.progress {
    width: 100%;
    height: 20px;
    transition: 0.3s;
}

#character-ui-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    overflow: hidden;
    border: 2px solid #000000a9; 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.character-health-progress {
    background: linear-gradient(90deg, rgba(52,162,14,1) 0%, rgba(22,255,0,1) 100%);
}

.character-armor-progress {
    height: 13px;
    background: linear-gradient(90deg, rgba(0,169,173,1) 0%, rgba(0,136,237,1) 100%);
}

#character-fds-container {
    height: 15px;
}

.progress-container {
    border-bottom: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.664);
    position: relative;
}

.progress-text {
    position: absolute;
    top: 3px;
    left: 5px;
    color: white;
    font-size: 11px;
    text-shadow: 1px 1px black;
}

.multi-character-progress {
    padding: 0;
    margin: 0;
    width:25%;
    float:left;
    display: inline;
    box-sizing:border-box;
    height: 15px;
}

.progress-single-container {
    width: 30%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 3px;
    display: inline-block;
    position: relative;
    border: 1px solid #000000a9; 
}

.progress-single-bar {
    width: 100%;
    height: 20px;
    transition: 0.3s;
}

.character-food-progress {
    background: linear-gradient(90deg, rgba(255,182,72,1) 0%, rgba(237,127,0,1) 100%);
}

.character-drink-progress {
    background: linear-gradient(90deg, rgba(83,255,218,1) 0%, rgba(0,204,237,1) 100%);
}

.character-sleep-progress {
    background: linear-gradient(90deg, rgba(204,83,255,1) 0%, rgba(119,0,237,1) 100%);
}

.character-infection-progress {
    background: linear-gradient(90deg, rgba(182,16,16,1) 0%, rgba(255,0,0,1) 100%);
}