#container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.icon-container {
    display: inline;
}

.card {
    position: relative;
    font-family: 'GeosansLight';
    background-color: #222222;
    color: white;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
}

.title {
    color: white;
    font-size: 14px;
    font-family: 'GeosansLight';
    font-weight: bold;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    font-size: 12px;
}

.timeout-bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.timeout-bar-inner {
    height: 4px;
    width: 100%;
}

.progress {
    width: 100%;
    height: 20px;
    transition: 0.3s;
}

#character-ui-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    overflow: hidden;
    border: 2px solid #000000a9; 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.character-health-progress {
    background: linear-gradient(90deg, rgba(52,162,14,1) 0%, rgba(22,255,0,1) 100%);
}

.character-armor-progress {
    height: 13px;
    background: linear-gradient(90deg, rgba(0,169,173,1) 0%, rgba(0,136,237,1) 100%);
}

#character-fds-container {
    height: 15px;
}

.progress-container {
    border-bottom: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.664);
    position: relative;
}

.progress-text {
    position: absolute;
    top: 3px;
    left: 5px;
    color: white;
    font-size: 11px;
    text-shadow: 1px 1px black;
}

.multi-character-progress {
    padding: 0;
    margin: 0;
    width:25%;
    float:left;
    display: inline;
    box-sizing:border-box;
    height: 15px;
}

.progress-single-container {
    width: 30%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 3px;
    display: inline-block;
    position: relative;
    border: 1px solid #000000a9; 
}

.progress-single-bar {
    width: 100%;
    height: 20px;
    transition: 0.3s;
}

.character-food-progress {
    background: linear-gradient(90deg, rgba(255,182,72,1) 0%, rgba(237,127,0,1) 100%);
}

.character-drink-progress {
    background: linear-gradient(90deg, rgba(83,255,218,1) 0%, rgba(0,204,237,1) 100%);
}

.character-sleep-progress {
    background: linear-gradient(90deg, rgba(204,83,255,1) 0%, rgba(119,0,237,1) 100%);
}

.character-infection-progress {
    background: linear-gradient(90deg, rgba(182,16,16,1) 0%, rgba(255,0,0,1) 100%);
}

.character-radiation-progress {
    background: linear-gradient(90deg, rgba(255,252,0,1) 0%, rgba(204,181,0,1) 100%);
}

.character-fuel-progress {
    background: linear-gradient(90deg, rgba(255,119,0,1) 0%, rgba(138,79,1,1) 100%);
}

#death-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.719);
    text-align: center;
    display: none;
}

#death-screen h1 {
    position: relative;
    font-family: 'GeosansLight';
    font-size: calc(7px + 4vw);
    font-weight: 700;
    color: rgb(255, 0, 0);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em rgb(139, 21, 21);
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    animation-iteration-count:infinite;
}

#death-screen h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

#death-screen h1::before,
#death-screen h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

#death-screen h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

#death-screen h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

#announce-container {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
}

.announce-item {
    padding: 10px;
    width: 30%;
    background-color: #000000a1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}

.announce-item h3 {
    font-family: 'GeosansLight';
    color: rgb(41, 219, 41);
    margin: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

.announce-item .announce-item-content {
    color: white;
    font-size: 13px;
}

#prograss-bars-container {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
}

.progress-bar-container {
    font-family: 'GeosansLight';
    width: 40%;
    border-radius: 15px;
    height: 35px;
    background-color: rgba(161, 161, 161, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 35px;
    font-size: 19px;
    color: white;
    margin-bottom: 15px;
}

.progress-bar-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: blue;
    opacity: 0.7;
    z-index: -1;
}