@font-face {
    font-family: 'GeosansLight';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/GeosansLight.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


.large-shadow-container {
    box-shadow: 0px -20px 110px 100px #000000;
    text-align: center;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(223, 184, 10);
    font-size: 22px;
    text-transform: uppercase;
}

.window-header {
    font-family: 'GeosansLight';
    padding: 8px;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    background-color: #222222;
    border: 3px solid #222222;
    margin-top: 15px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.window-header .right {
    position: absolute;
    right: 15px;
    top: 8px;
    color: white;
}

.window-content {
    border: 3px solid #222222;
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: #212125c2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inventory-content {
    text-align: left;
    position: relative;
    user-select: none;
}

.inventory-content-square {
    position: relative;
    background-color: #706e6671;
    width: 56px;
    height: 56px;
    display: inline-block;
    /** border: 2px solid #706e66; */
    box-shadow: inset 0px 0px 0px 2px #706e66;
    cursor: pointer;
    transition: 0.3s;
}

.inventory-content-square:hover {
    box-shadow: inset 0px 0px 0px 5px white;
}

.inventory-content-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
}

.item-object {
    pointer-events: all;
    cursor: pointer;
    text-align: center;
}

.item-object {
    transition: 0.3s;
}

.item-object:hover {
    background-color: #706e6671;
    box-shadow: inset 0px 0px 0px 5px #8a877c;
}

.item-object:hover img {
    transform: scale(0.85);
}

.item-object img {
    transition: 0.3s;
    pointer-events: none;
}

.context-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000ab;
    color: rgb(192, 192, 192);
    font-family: 'GeosansLight';
    font-size: 17px;
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.context-menu-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    min-width: 100px;
    text-align: center;
}

.context-menu-item:hover {
    color: white;
    background-color: #000000b7;
}